/src/AndroidPano/AndroidPano.xproj.csdat
/src/AndroidPano/project.lock.json
/.vs
/artifacts
/src/AndroidPano/*.user
*tour.xml
/src/AndroidPano/*.csdat
/src/WebVRPano/bin
/src/WebVRPano/obj
/src/WebVRPano/wwwroot/js/krpano.js.backup*
/src/WebVRPano/wwwroot/plugins/webvr.js.backup*
/src/WebVRPano/wwwroot/plugins/webvr.xml.backup*
/src/WebVRPano/*.user
